<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
         document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var options = { 'hover': true, 'coverTrigger': false }
            var instances = M.Dropdown.init(elems, options);
        });
    </script>
    <title>Stacks</title>
</head>
<body>
    <div id="header" class="cyan darken-3">
        <h1 id="title">Stacks</h1>
        <div id="nav">
            <a class="dropdown-trigger" href="/shelves" data-target="dropdown">Your Shelves</a>
            <ul id = "dropdown" class = "dropdown-content">
                <li class="dropdown-status"><a href="/shelves/reading/view" style="color: white">Reading</a></li>
                <li class="dropdown-status"><a href="/shelves/toRead/view" style="color: white">To Read</a></li>
                <li class="dropdown-status"><a href="/shelves/read/view" style="color: white">Read</a></li>
            </ul>
            <div class="login">
                <% if (user) { %>
                    <a class="nav-link" href="/logout">Log Out</a>
                <% } else { %>
                    <a class="nav-link" href="/auth/google">Login with Google</a>
                <% }; %>
            </div>
        </div>
    </div>
    <main>