<%- include('./partials/header') %>

<div id="home-page">
    <h1 id="home-title">Welcome to Bookshelf!</h1>
    <p id="home-message">To get started, <a id="home-login" href="/auth/google">click here</a> to login with Google.</p>
</div>

<%- include('./partials/footer') %>