* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #80deea;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
}

h1#title {
    margin-left: 40px;
    color: white;
    font-size: 48px;
    margin: auto 0 auto 20px;
    text-justify: center;
}

div#nav {
    width: fit-content;
    font-size: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

a.nav-link {
    color: white;
    padding: 10px;
}

a.dropdown-trigger {
    color: white;
}

ul {
    margin: 80px;
}

h1.shelf-title {
    margin: 0;
    color: white;
}

div.books {
    border: 10px solid #5d4037;
    background-color: #8d6e63;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    justify-items: center;
    padding: 20px;
}

li.main, li.see-more {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 120px;
    background-color: #00bcd4 ;
}

a.see-more {
    color: white;
    font-size: 24px;
    margin: 0;
}

button.delete {
    background-color: white;
    border: none;
    font-size: 22px;
    padding: 0;
}

a.edit {
    color: black;
    text-decoration: none;
    padding: 1px;
}

#add-form {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#add-form > * {
    margin-right: 10px;
}

div.add-form {
    display: flex;
    justify-content: center;
    width: fit-content;
}

div.input-field {
    padding: 0 10px 0 10px;
}

div.add-form > * {
    margin-right: 10px;
    background-color: white;
}
