* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #80deea;
}

#header {
    display: flex;
    justify-content: space-between;
}

h1#title {
    margin-left: 40px;
    color: white;
    font-size: 48px;
    margin: 0 0 0 20px;
}

div#nav {
    width: fit-content;
    font-size: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

a.nav-link {
    color: white;
    padding: 10px;
}

ul {
    margin: 80px;
}

h1.shelf-title {
    margin: 0;
}

div.books {
    border: 10px solid #5d4037;
    background-color: #8d6e63;
    display: grid;
    grid: 'book1 book2 book3 book4 book5';
    padding: 20px;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    width: 120px;
    background-color: #00bcd4 ;
}

li > * {
    margin-right: 10px;
}

form.add {
    margin-left: 40px;
    display: flex;
    justify-content: center;
}

form.add > * {
    margin-right: 10px;
}

div.status {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

a.status {
    margin-right: 10px;
}

button.delete {
    background-color: white;
    border: none;
    font-size: 22px;
    padding: 0;
}

a.edit {
    color: black;
    text-decoration: none;
    padding: 1px;
}