<form action="/shelves/<%= status %>/<%= book.id %>/edit" method="POST">
    <label>Book Title
        <input type="text" name="bookName" value="<%= book.bookName %>">
    </label>
    <label>Status
        <select name="status">
                <option value="reading">Reading</option>
                <option value="toRead">Want to Read</option>
                <option value="read">Already Read</option>
        </select>
    <input type="submit">
</form>